/* 0. genera */
/* 0.1 icons */
/* 1. header */
/* 1.1 header news line */
/* 2. description */
/* 3. persons slider */
/* 4. article section */
/* 5. news section */
/* 6. footer */



/* genera */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #363636;
	background: #fff;
	font-size: 12px;
	line-height: 20px;
	font-style: normal;
}

a {
	text-decoration: none;
}

.header__items-wrapper,
.nav__container,
.news-line__wrapper,
.description-area,
.slider-buttons,
.persons-slider-section,
.persons-slider,
.article-section,
.news-section-block,
.news-section__images-wrapper,
.footer__about,
.footer__form
 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.container,
.max-content-width {
	margin: 0 auto;
	max-width: 962px;
	width: 100%;
}

.section-separator {
	display: block;
	padding: 5px 0;
	background: #fbfbfb;
	border-top: 1px solid #ececec;
}

.section-separator:first-child {
	padding: 3px 0;
}


.person-slider__button,
.slider-button,
.footer__form__button {
	cursor: pointer;
}

/* 0.1 icons */

.social-icons__wrapper {
	position: relative;
	max-width: 962px;
	padding-bottom: 215px;
}

.social-icons {
	position: absolute;
	right: 0;
}

.social-icons__link {
	display: block;
	width: 50px;
	height: 50px;
	margin: 10px;	
	overflow: hidden;
	border-radius: 50%;
}

.facebook-icon {
	background: #f26c4f url(img/icons/facebook.png) center center no-repeat;
}

.rss-icon {
	background: #f26c4f url(img/icons/rss.png) center center no-repeat;
}

.twitter-icon {
	background: #f26c4f url(img/icons/twitter.png) center center no-repeat;
}

/* 1. header */

.header-wrapper {
	padding: 20px 0;
	background: url(img/header_background.jpg) center center no-repeat;
	background-size: cover;
}

.header {
	display: block;
	padding: 26px 0;
	margin-bottom: 250px;
	width: 100%;
	background-color: #343434;
}

.header__items-wrapper {
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: block;
	margin: 0;
	padding: 0;
}

/*.header__nav {

}*/

.nav__container {
	justify-content: space-between;	
	list-style: none;
}

.nav__item {
	margin: 0 15px;
}

.nav__item-link {
	color: #e6e6e6;
	padding: 5px 0;
}

/* 1.1 header news line */

.header__news-line {
	position: relative;
	color: #fff;
	background: #e4593a;
	padding: 15px 0;
}

.news-line__wrapper {
	justify-content: space-between;
	align-items: center;
}

.news-line__text {
	display: block;
}

.news-line__title {
	margin-right: 35px;
	text-transform: uppercase;
}

.news-line__message {
	margin-left: 18px;
}

.news-line__separator {
	top: 0;
	position: absolute;
	font-size: 28px;
	line-height: 50px;
}

.image-indicator {
	margin-right: 15px;
}

/* 2. description */

.description-area {
	justify-content: space-between;
}

.description__cite {
	display: block;
	width: 100%;
	max-width: 730px;
	margin-top: 40px;
}

.cite__header,
.cite__top-article,
.cite__bottom-article {
	font-style: normal;
}

.cite__header {
	margin-bottom: 20px;
	font-size: 12px;
	font-weight: bold;
	color: #272630;
	text-transform: uppercase;
}

.cite__header span {
	color: #f26c4f;
}

.cite__top-article {
	font-size: 15px;
	line-height: 25px;
	color: #737373;
}

.cite__bottom-article {
	margin: 35px 0 30px 0;
}

.slider-buttons {
	margin-top: 15px;
}

.slider-button {
	margin: 10px;
	display: block;
	position: relative;
	border-radius: 50%;
	font-size: 48px;
	color: #fff;
	background: #e2e2e2;
	width: 90px;
	height: 90px;
	border: none;
}


/* 3. persons slider */

.persons-slider-section {
	justify-content: center;
	align-items: stretch;
	max-width: 1100px;
	margin: 0 auto;
}

.persons-slider__card {
	font-size: 12px;
	text-align: center;
}

.persons-slider {
	justify-content: space-between;
	align-items: center;
	padding: 25px 0 40px 0;
}

.person-slider__button {
	align-self: top;
	color: #000;
	font-size: 60px;
	background: #fff;
	border: none;
	margin-bottom: 7%;
}

.persons-slider__photo {
	display: block;
	border-radius: 50%;
	max-width: 213px;
	width: 100%;
	height: auto;
}

.persons-slider__name {
	margin: 23px 15px 17px 0;
	color: #272630;
	font-size: 12px;
	text-transform: uppercase;
}

.persons-slider__description {
	color: #363636;
	font-style: italic;
}

/* 4. article section */

.article-section {
	justify-content: space-between;
	padding: 32px 0 60px 0;
}

.article__cite-wrapper:first-child {
	padding-right: 50px;
}

.article__title {
	color: #272630;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.article__title span {
	color: #f26c4f;
}

.article__cite .paragraph-left:nth-child(2) {
	margin-top: 13px;
	margin-bottom: 35px;
}

.article__cite .paragraph-right:nth-child(2) {
	margin: 36px 0;
}

/* 5. news section */

.news-section {
	padding: 34px 0;
}

.news-section__news-wrapper {
	max-width: 280px;
}

.news-section__news-wrapper p:nth-child(2) {
	padding-bottom: 40px;
}

.news-section__images-wrapper,
.news-section-block {
	justify-content: space-between;
}

.news__image-card {
	width: 100%;
	max-width: 305px;
}

.news__image-card:last-child {
	margin-left: 40px;
}

.news__image {
	display: block;
	width: 100%;
	max-width: 285px;
	height: auto;
	border: 10px solid #fbfbfc;
}

.news__image-title {
	margin: 10px 0 13px 0;
	color: #272630;
	text-transform: uppercase;
}

.news__image-date {
	font-size: 11px;
	color: #aaaaaa;
	font-style: italic;
	margin-bottom: 5px;
}

/*end news section*/

.empty-space {
	padding: 34px 0;
	background: #fff;
}

/* 6. footer */

.footer-wrapper {
	background: #343434;

}

.footer {
	padding: 52px 0 113px 0;
}

.footer__about {
	justify-content: space-between;
}

.footer__description {
	max-width: 450px;
	margin-bottom: 25px;

	color: #d6d6d6;
}

.footer__form {
	position: relative;
	bottom: 10px;
	align-items: center;
	padding: 0;
	margin: 0;
}

.footer__form::before {
	position: absolute;
	left: 17px;
	content: '';
	background-image: url(img/icons/message-icon.png);
	width: 15px;
	height: 13px;
}

.footer__form__text-input {
	padding: 17px 200px 17px 50px;
	border-radius: 5px;
	border: none;
	color: #7c7c7c;
}

.footer__form__text-input::placeholder {
	font-size: 12px;
	color: #7c7c7c;
}

.footer__form__button {
	position: absolute;
	right: 10px;
	border: none;
	border-radius: 5px;
	padding: 10px;	
	font-size: 14px;
	color: #ca3c20;
	background: #f27155;
}

.footer-icons {
	position: relative;
	display: flex;
}

.footer-icons__link {
	margin: 0;
	padding: 0;
}

.footer-icons__link:not(:first-child) {
	margin-left: 13px;
}

.footer__copyright {
	display: block;
	margin-top: 35px;
	color: #787878;
}